body {
    background-color: #404040;
    color: #dddddd;
    font-family: Georgia, serif;
}

.heading {
    font-size: 40px;
    vertical-align: text-top;
}

a {
    color: #cccccc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

th {
    text-align: left;
}

td, th {
    padding-right: 10px;
    padding-top: 5px;
}

input, select {
    background-color: #606060;
    color: #bbbbbb;
    font-size: 20px;
}

.bigbutton {
    width: 175px;
    height: 75px;
    text-align: center;
    text-wrap: wrap;
}

.bigbutton:hover {
    background-color: #707070;
}

.bigbutton.selected {
    background-color: #505050;
}

.bigbutton.done {
    background-color: #404040;
    background: url("../logo.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}