body {
    background-color: #404040;
    color: #dddddd;
    font-family: Georgia, serif;
}

.heading {
    font-size: 40px;
    vertical-align: text-top;
}

a {
    color: #cccccc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

th {
    text-align: left;
}

td, th {
    padding-right: 10px;
    padding-top: 5px;
}

input:not([type=file]), select {
    background-color: #606060;
    color: #bbbbbb;
    font-size: 20px;
}

.bigbutton {
    width: 175px;
    height: 75px;
    text-align: center;
    text-wrap: wrap;
}

.bigbutton:hover {
    background-color: #707070;
}

.bigbutton.selected {
    background-color: #505050;
}

.bigbutton.done {
    background-color: #404040;
    background: url("done.svg");
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: center;
}

#sub {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #404040;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    position: fixed;
    height: 40px;
    bottom: 0px;
    right: 0px;
}

input[type=file]::file-selector-button {
    background-color: #aaaaaa;
    border-radius: 5px;
    border: 1px solid #dddddd;
}