div#content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    h1#error404-header {
        font-size: 75px;
        padding: 20px;

        span#orange {
            color: #e97132;
        }

        span#purple {
            color: #7030a0;
        }
    }

    p#error404-text {
        font-size: 20px;

        a {
            font-style: italic;
            text-decoration: underline;
        }

        a:hover {
            text-decoration: none;
        }
    }
}

@media (max-width: 999px) {
    div#content {
        h1#error404-header {
            font-size: 50px;
        }
        p#error404-text {
            font-size: 16px;
        }
    }
}