div#content {
    position: absolute;
    top: 150px;
    width: calc(100% - 16px);
}

div#folders-flex {
    width: calc(100% - 16px);
    flex-wrap: wrap;
    align-items: center;
}

div#units-flex {
    width: calc(100% - 16px);
    flex-wrap: wrap;
}

div.folders-flexbox {
    display: flex;
    width: calc(50% - 26px);
    border-radius: 10px;
    border: 3px solid;
    margin: 10px;
    text-align: center;

    a.folders-link {
        width: 100%;
    }
}

div.units-flexbox {
    display: flex;
    width: 30%;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px;
    align-items: center;

    input.folders-checkbox {
        height: 25px;
        width: 25px;
        margin: 10px;
    }

    span.checkbox-label {
        font-size: 25px;
    }
}

div.units-flexbox:not(.no-border) {
    outline: 2px solid;
    border: 2px solid;
    outline-offset: -2px;
    transition: outline-width 200ms ease, outline-offset 200ms ease;
}

div.units-flexbox:not(.no-border):has(>input:checked) {
    outline-width: 5px;
    outline-offset: -5px;
}

div.units-flexbox.no-border {
    width: 100%;
}

div#folders-custom {
    margin-left: 50%;
    transform: translateX(-50%);
    width: calc(50% - 34px);
}

div#settings-bar {
    width: 100%;
    box-sizing: border-box;

    button#start-button {
        align-items: center;
        appearance: none;
        background-color: #fff;
        border-radius: 24px;
        border-style: none;
        box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
        box-sizing: border-box;
        color: #3c4043;
        cursor: pointer;
        display: inline-flex;
        fill: currentcolor;
        font-family: "Google Sans",Roboto,Arial,sans-serif;
        font-size: 14px;
        font-weight: 500;
        height: 48px;
        justify-content: center;
        letter-spacing: .25px;
        line-height: normal;
        margin: 20px;
        max-width: 100%;
        overflow: visible;
        padding: 2px 24px;
        position: relative;
        text-align: center;
        text-transform: none;
        transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms, background-color 280ms linear;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: auto;
        will-change: transform,opacity;
        z-index: 0;
      }
      button#start-button:not(:disabled) {
        box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
      }
      
      button#start-button:not(:disabled):hover {
        background: #f6f9fe;
        color: #174ea6;
        box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
      }
      
      button#start-button:not(:disabled):focus {
        box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
      }
      
      button#start-button:not(:disabled):active {
        outline: none;
        transform: scale(0.9);
        box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
      }
      
      button#start-button:disabled {
        cursor: not-allowed;
        background-color: #dddddd;
        box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
      }
}

@media (max-width: 999px) {
    div.folders-flexbox {
        width: calc(100% - 26px);
    }
    div#folders-custom {
        margin-left: 10px;
        transform: none;
        width: calc(100% - 42px);
    }
    div#content {
        top: 125px;
    }
    div.units-flexbox {
        width: 100%;
        box-sizing: border-box;
    }
}

body.light-theme {
    div.folders-flexbox {
        border-color: #0093cb;
    }

    div.folders-flexbox:hover {
        background-color: #eeeeee;
    }

    input.folders-checkbox {
        accent-color: #0093cb;
    }

    div.units-flexbox {
        outline-color: darkgray;
        border-color: darkgray;
    }

    div.units-flexbox span.checkbox-label i {
        color: darkgray;
    }

    div#settings-bar input[type=button] {
        background-color: cyan;
        color: royalblue;
    }
}

body.dark-theme {
    div.folders-flexbox {
        border-color: #2a8c8c;
    }

    div.folders-flexbox:hover {
        background-color: #222222;
    }

    input.folders-checkbox {
        accent-color: #2a8c8c;
    }

    div.units-flexbox {
        border-color: lightgray;
    }

    div.units-flexbox span.checkbox-label i {
        outline-color: lightgray;
        color: lightgray;
    }

    img#start-image {
        content: url("../images/play-dark.svg");
    }
}