div#content {
    position: absolute;
    top: 150px;
    width: calc(100% - 16px);
}

div#folders-flex {
    width: calc(100% - 16px);
    flex-wrap: wrap;
    align-items: center;
}

div#units-flex {
    display: block;
    width: 250px;
}

div.folders-flexbox {
    display: flex;
    width: calc(50% - 26px);
    border-radius: 10px;
    border: 3px solid;
    margin: 10px;
    text-align: center;

    a.folders-link {
        width: 100%;
    }
}

div.units-flexbox {
    display: flex;
    border-radius: 10px;
    border: 3px solid;
    margin: 10px;
    align-items: center;

    input.folders-checkbox {
        height: 25px;
        width: 25px;
        margin: 10px;
    }

    span.checkbox-label {
        font-size: 25px;
    }
}

div#folders-custom {
    margin-left: 50%;
    transform: translateX(-50%);
    width: calc(50% - 34px);
}

@media (max-width: 999px) {
    div.folders-flexbox {
        width: calc(100% - 26px);
    }
    div#folders-custom {
        margin-left: 10px;
        transform: none;
        width: calc(100% - 42px);
    }
    div#content {
        top: 125px;
    }
}

body.light-theme {
    div.folders-flexbox {
        border-color: #0093cb;
    }

    div.folders-flexbox:hover {
        background-color: #eeeeee;
    }

    input.folders-checkbox {
        accent-color: #0093cb;
    }

    div.units-flexbox.no-border {
        border-color: white;
    }
}

body.dark-theme {
    div.folders-flexbox {
        border-color: #2a8c8c;
    }

    div.folders-flexbox:hover {
        background-color: #222222;
    }

    input.folders-checkbox {
        accent-color: #2a8c8c;
    }

    div.units-flexbox.no-border {
        border-color: #111111;
    }
}