div#content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    h1#main-header {
        font-size: 75px;

        span#orange {
            color: #e97132;
        }

        span#purple {
            color: #7030a0;
        }
    }

    h2#main-text {
        font-size: 40px;
    }

    h3#link-text {
        span#animate-arrow {
            position: absolute;
        }
    }

    h3#link-text:hover {
        a:hover + span#animate-arrow {
            animation: jump 1s ease infinite;
        }
    }
}

canvas#canvas {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
}

.snowflake {
    position: fixed;
    top: -10px;
    font-size: 1em;
    font-family: Arial, sans-serif;
    cursor: default;
    user-select: none;
    z-index: 999999;
    pointer-events: none;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

body.dark-theme .snowflake {
    color: white;
    filter: drop-shadow(0 0 10px white);
    text-shadow: 0 0 5px rgba(255,255,255,0.7);
}

body.light-theme .snowflake {
    color: darkgray;
    filter: drop-shadow(0 0 10px black);
    text-shadow: 0 0 5px rgba(128,128,128,0.5);
}

@keyframes snowfall {
    0% {
        transform: translateY(0vh) translateX(0) rotate(0deg);
    }
    100% {
        transform: translateY(100vh) translateX(20px) rotate(360deg);
    }
}

#snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999;
}

@media (max-width: 999px) {
    div#content {
        h1#main-header {
            font-size: 50px;
        }
        h2#main-text {
            font-size: 30px;
        }
    }
}

body.light-theme {

    h2#main-text {
        color: 	#87ceeb;

        i {
            color: #0093cb;
        }
    }

}

body.dark-theme {

    h2#main-text {
        color: lightgray;

        i {
            color: white;
        }
    }

}

@keyframes jump {
    0%, 100% {transform: none;}
    50% {transform: translate(10px, 0px);}
}