:root {
    scroll-behavior: smooth;
}

html:has(> body.dark-theme) {
    scrollbar-color: lightgray #111111;
}

div#header {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;

    * {
        display: inline-block;
        vertical-align: middle;
        font-size: 30px;
    }

    img#banner-logo {
        height: 100px;
    }

    a.banner-link {
        /* font-style: italic; */
        font-weight: 600;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 6px;
    }

    img#theme-button {
        height: 50px;
        width: 50px;
        position: absolute;
        right: 10px;
        top: 20px;
        cursor: pointer;
    }

    img#dropdown-arrow {
        position: absolute;
        height: 50px;
        width: 50px;
        top: 20px;
        left: 10px;
    }

    div#dropdown-container {
        transition: transform 500ms ease-in-out;
        transform: none;
        position: absolute;
        left: 0px;
        top: 80px;

        * {
            display: block;
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    div#dropdown-container.hidden {
        transform: translateX(-100%);
    }

    a.centre {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

div#footer {
    height: 1em;
    width: calc(100% - 20px);
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    text-align: center;
}

div#cookie-banner {
    width: calc(100% - 20px);
    position: fixed;
    bottom: 0px;
    left: 0px;
    text-align: center;
    padding: 10px;
    animation: slideUp 1s ease-out;

    input#cookie-button {
        background-color: #00703c;
        color: white;
        font-size: 20px;
        padding: 5px;
        border: 0px;
    }
}

div#margin {
    height: 50px;
    width: 100%;
}

body.light-theme {
    background-color: white;
    color: black;

    a.banner-link {
        color: #0093cb;
    }

    a.banner-link:hover {
        background-color: lightgray;
        text-decoration: none;
    }

    div#header, div#footer {
        background-color: white;
    }

    div#cookie-banner {
        background-color: lightgray;

        input#cookie-button {
            background-color: #00703c;
        }
    }

    img#dropdown-arrow {
        content: url("../images/menu-light.svg");
    }

    img#dropdown-arrow.close-button {
        content: url("../images/close-light.svg");
    }

    img#theme-button {
        content: url("../images/dark.svg");
    }

    div#dropdown-container {
        background-color: #f1f1f1;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    span.line {
        border-color: black;
    }
}

body.dark-theme {
    background-color: #111111;
    --main-colour: #e0f0f0;
    color: var(--main-colour);
    
    a.banner-link {
        color: #2a8c8c;
    }

    a.banner-link:hover {
        background-color: #222222;
        text-decoration: none;
    }

    div#header, div#footer {
        background-color: #111111;
    }

    div#cookie-banner {
        background-color: #2a8c8c;

        input#cookie-button {
            background-color: #1fd655;
        }
    }

    img#dropdown-arrow {
        content: url("../images/menu-dark.svg");
    }

    img#dropdown-arrow.close-button {
        content: url("../images/close-dark.svg");
    }

    img#theme-button {
        content: url("../images/light.svg");
    }

    div#dropdown-container {
        background-color: #222222;
        box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.1);
    }

    span.line {
        border-color: var(--main-colour);
    }
}

div.flex-container {
    display: flex;
}

.line-container {
    display: flex;
    align-items: center;
    width: calc(100% - 16px);
}

span.line {
    flex-grow: 1;
    border-bottom: 1px solid;
    margin: 5px
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes switchTheme {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideUp {
    from {transform: translate(0, +100%);}
    to {transform: none;}
}

@keyframes slideRight {
    from {transform: translate(-100%, 0);}
    to {transform: none;}
}

@keyframes enlarge {
    from {height: 0%;}
    to {height: 100%;}
}

@keyframes spin {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

a.no-underline {
    text-decoration: none;
}